html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Players page */
.playersTable{
  height: 100%;
}

.tableRowlight{
  background-color: white;
}

.tableRowDark{
  background-color: rgb(232, 232, 232);
}

/* Response messages */
.successResponse{
  color: rgb(45, 134, 45);
}

.errorResponse{
  color:rgb(220, 81, 81);
}

/* Create */
.statInput{
  width: 70px;
}

.smallInput{
  width:50px;
}

#createPlayerForm label{
  width: 120px;
}

#createTextArea{
  height:100px;
  max-width: 500px;
}